// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin inline-row{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

@mixin entry-title{
	font-size: 2rem;
	color: white;
}