/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.page-template, .post-template-default, .search, .archive, .error404{
  @include desktop{
    @include desktop-center;
  }
  background: #222;
  padding: 1rem;
  .fa-quote-left{
    display: none;
    @include desktop{
      display: flex;
      justify-content: flex-start;
      position: absolute;
      margin: auto;
      top: 18rem;
      left: 8vw;
      color: #0c0;
      font-size: 8rem;
    }
  }
  .fa-quote-right{
    display: none;
    @include desktop{
      display: flex;
      position: absolute;
      margin: auto;
      top: 18rem;
      right: 8vw;
      color: #0c0;
      font-size: 8rem;
    }
  }
  h1{
    @include entry-title;
  }
}

/* About Page */
.page-template-page-about{
  .post-107{
    display: flex;
    flex-flow: column wrap;
    @include desktop{
      
    }
    p{
      font-weight: 300;
      font-size: 1.2rem;
    }
    a{
      color: #0c0;
    }
  }
  .entry-meta{
    display: none;
  }
}

/* Archives Page */
.page-template-page-archives{
  a:hover{
    color: $dark-green;
  }
  h1{
    @include entry-title;
    padding-left: 0.5rem;
  }
  h2{
    font-size: 1.5rem;
  }
  .archives-container{
    margin: 0rem 0.6rem;
  }
  .archives-ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    line-height: 1.5rem;
    font-size: 1rem;
    a{
      margin: 0rem 1rem 0rem 0rem;
      padding: 0;
    }
  }
  
  .categories-ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    line-height: 1.5rem;
    font-size: 1rem;
    .categories{
      font-size: 1.3rem;
      padding-top: 3rem;
      padding-bottom: 2rem;
      line-height: 3.5rem;
      ul{
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        line-height: 1.5rem;
        font-size: 1rem;
        li{
          margin: 0rem 1rem 0rem 0rem;
          padding: 0;
        }
      }
    }
  }
  
  .tags-ul, .tag-cloud-link{
    list-style-type: none;
    line-height: 1.5rem;
    h2{
      line-height: 0.5rem;
    }
    a{
      font-size: 20px;
    }
  }
}

/* Submit Page */
.page-template-page-submit{
  .submit-div{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding-bottom: 2rem;
  }
  .entry-title{
    font-size: 1.5rem;
  }
  label{
    font-size: 0.8rem;
  }
  textarea, input{
    background: transparent;
    border: #0c0 solid 1px;
    min-width: 20rem;
  }
  
  button, .submit-button{
    @include button-green;
  }
  button:hover{
    @include button-green;
    box-shadow: none;
    text-shadow: none;
  }
}

/* Submit Page - Logged Out */
.page-id-218{
  padding-left: 2rem;
}

/* Search Page */
.search-results{
  .page-title{
    border-bottom: #fff solid 0.5px;
    padding-bottom: 0.5rem;
  }
}

/* Single Page */
.single-post{
  @include desktop{
    font-size: 1.5rem;
  }
  .nav-links{
    display: none;
  }
}

/* Category Single Page */
.category{
  p{
    font-size: 2rem;
  }
  .source{
    font-style: italic;
    font-size: 1.3rem;
    color: #0c0;
  }
  .entry-meta, .page-title{
    @include inline-row;
    border-bottom: #fff solid 0.5px;
    padding-bottom: 1rem;
  }
}

/* Error 404 Page */
.error404{
  .page-title{
    font-size: 3rem;
    margin-top: -1rem;
  }
  .page-content{
    font-size: 1.5rem;
  }
  fieldset{
    border: none;
    margin: -10px;
  }
  .search-submit{
    width: 10px;
  }
  
  .search-field{
    @include button-green;
    font-family: 'Exo' 'sans-serif';
  }
  button{
    margin-left: -30px;
    background: transparent;
    box-shadow: none;
    border: none;
  }
  .search-submit{
    position: relative;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    spanc{
      color: transparent;
    }
  }
  .fa-search{
    color: #0c0;
    margin-left: -50px;
  }
}
