/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* About Page */
.page-template-page-about{
  background: #222;
  padding: 1rem;
  h1{
    @include entry-title;
  }
  .entry-content{
    p{
      font-weight: 300;
    }
    a{
      color: #0c0;
    }
  }
}

/* Archives Page */
.page-template-page-archives{
  padding: 1rem;
  background: #222;
  @include entry-title;
  .archives-container{
    margin: 0rem 0.6rem;
  }
  .archives-ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    line-height: 1.5rem;
    font-size: 1rem;
    a{
      margin: 0rem 1rem 0rem 0rem;
      padding: 0;
    }
  }
  
  .categories-ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    line-height: 1.5rem;
    font-size: 1rem;
    .categories{
      font-size: 1.3rem;
      padding-top: 3rem;
      padding-bottom: 2rem;
      line-height: 3.5rem;
      ul{
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        line-height: 1.5rem;
        font-size: 1rem;
        li{
          margin: 0rem 1rem 0rem 0rem;
          padding: 0;
        }
      }
    }
  }
  
  .tags-ul, .tag-cloud-link{
    list-style-type: none;
    line-height: 1.5rem;
    h2{
      line-height: 0.5rem;
    }
    a{
      font-size: 20px;
    }
  }
  
  
}

/* Submit Page */
.page-template-page-submit{
  padding: 1rem;
  background: #222;
  .entry-title{
    font-size: 1.5rem;
  }
  label{
    font-size: 0.8rem;
  }
  textarea, input{
    background: transparent;
    border: #0c0 solid 1px;
  }
}

/* Single Page */
.single{
  padding: 1rem;
  background: #222;
}

/* Error 404 Page */
.error404{
  padding: 1rem;
  background: #222;
  
  .page-title{
    font-size: 3rem;
    margin-top: -1rem;
  }
  .page-content{
    font-size: 1.5rem;
  }
  fieldset{
    border: none;
  }
  .search-field{
    background: transparent;
    border: #0c0 solid 1px;
    font-family: 'Exo' 'sans-serif';
  }
  button{
    margin-left: -30px;
    background: transparent;
    box-shadow: none;
    border: none;
  }
  .search-submit{
    position: relative;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    spanc{
      color: transparent;
    }
  }
  .fa-search{
    color: #0c0;
    margin-left: -50px;
  }
}